<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Retro Arcade</title>
    <link rel="stylesheet" href="/css/PopupForm.css">
    <link rel="stylesheet" href="/css/Navbar.css">
    <link rel="stylesheet" href="/css/Footer.css">
    <link rel="stylesheet" href="/css/gamecollection.css">
    <link rel="stylesheet" href="/css/homepage.css">
    <link rel="stylesheet" href="/css/keyframes.css">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">


</head>

<div id="formContainer"></div> <!-- This can be put anywhere -->

<body>

    <div class="MainContainer">
        <div class="Navbar" id="NavigationBar">
            <a href="/homepage" class="SiteNameHeader">Retro Arcade</a>

            <div class="Navbar-Links">
             <!--
                <a href="/">Our Team</a>
                <a href="/">Contact Us</a>
        -->
            </div>
            <% if (id) { %>                
                <div class="sub-container-navbar">
                    <div id="username">Welcome <%= name %></div>
                    <div id="tokenbalance"><%= tokenBalance.toFixed(2) %> Tokens</div>
                    <div>
                        <form action="/logout?_method=DELETE" method="POST">
                            <button  class="commonButton" id="logoutButton" type="submit">Log Out</button>
                        </form>
                    </div>
                </div>
            <% } else { %>
                <div class="sub-container-navbar">
                    <div id="tokenbalance"></div>
                    <button class="commonButton" id="loginButton">LOGIN/SIGN UP</button>
                </div>
                <% } %>
        </div>

        <div class="spacer"></div>

        <div id="gamecollection">   
            <a href="/pacmangame"><button class="gameTile" id="pacman"></button></a>
            <a href="/Tetris"><button class="gameTile" id="tetris"></button></a>
            <a href="/BrickBreaker"><button class="gameTile" id="brickbreaker"></button></a>
            <a href="/"><button class="gameTile" id="flappybird"></button></a>    
        </div>
        
       
        <div id="pacmanbanner" class="banners">
            <a href="/pacmangame"><button class="playbuttonhome" id="playpacman">Play Now</button></a>
         </div>
         <div id="tetrisbanner" class="banners">
            <a href="/Tetris"><button class="playbuttonhome" id="playtetris">Play Now</button></a>
            <img id="tetrislogo" src="/images/tetrislogo.png">
         </div>
         <div id="breakoutbanner" class="banners">
            <a href="/BrickBreaker"><button class="playbuttonhome" id="playbreakout">Play Now</button></a>
            <img id="breakoutlogo" src="/images/breakoutlogo.png">
         </div>
         

    </div>

    <hr id="FooterLine">
    <div class="Footer">
        <div class="sub-container-footer-left">
            <h3>Retro Arcade</h3>
            <ul class="social-icons">
                <a href="https://www.instagram.com" class="fab fa-instagram"></a>
                <a href="https://www.linkedin.com"class="fab fa-linkedin"></a>
                <a href="https://www.twitter.com" class="fab fa-twitter"></a>
            </ul>
            <p>@retroarcade</p>
        </div>
        
        <div class="sub-container-footer-right">
            <a href="/homepage">HOME</a>
            <a href="/">OUR TEAM</a>
            <a href="/">CONTACT SUPPORT</a>
        </div>
    </div>
    
    

<script type="text/javascript" src="/js/homepage.js"></script>
<script type="text/javascript" src="/js/PopupForm.js"></script>
</body>
</html>
