

<title>Retro Arcade</title>
<link rel="icon" href="/images/placeholderTitleIcon.png" type="image/png">
  
<link rel="stylesheet" href="/css/homepage.css">


<div id="header">


    <div id="logoutArea">
        <form action="/logout?_method=DELETE" method="POST">
            <button type="sumbit" id="addtoken">Log Out</button>
        </form>

</div>


    <div id="tokenbalance">
        <%= tokenBalance.toFixed(2) %> Tokens
    </div>
    <div id="mainName">
        <a href="/homepage">
        <button id="homepage">Retro Arcade</button></a>
    </div>
</div>
<div id="background">
    <div id="gamecollection">   
        <button class="scroll" id="space"></button>
        <a href="/pacman"><button class="scroll" id="pacmangame"></button></a>
        <a href="/homepage"><button class="scroll" id="tetrisgame"></button></a>
        <a href="/homepage"><button class="scroll" id="brickbreakergame"></button></a>
        <button class="scroll" id="flappybirdgame"></button>
    </div>
</div> 

<div id="pacmanfluff">
<img src="\images\pacmanphoto6.png" id="pacmanphoto6">
<div id="pacmantitle"><h2>Retro Arcgdfgdfades: Pacman</h2></div>
<div id="pacmanparagraph">Retro Arcade presents the classic arcade game PacMan. A yellow, circular character who navigates a maze, eating dots while avoiding colorful ghosts. We add an interesting twist... competition from pacman players all around the world. As you play your tokens will increase giving you the opportunity to end the game with up to double your wager. Retro Arcade collects data on the scores of all players. From this data an average score is made. As you approach this score your multiplier will increase and when you exceed the average your multiplier will begin to exceed one. This provides a unique skill-based multiplayer experience. Hone your pacman skills and you may begin to win consistently.</div>
<a href="/pacman"><button id="playpacman">Play Now</button></a>
</div>

<div id="brickbreakerfluff">
<img src="/images/brick3.png" id="brickphoto">
<div id="bricktitle"><h2>Retro Arcade's: Breakout</h2></div>
<div id="brickparagraph">Brick Breaker is a classic arcade-style game where your goal is to break all the bricks on the screen using a ball, which you bounce off a movable paddle. Use the arrow keys to control the paddle and be fast because you only get one life. As usual Retro Arcades offers an interesting twist... competition from Breakout players all around the world. As you play your tokens will increase giving you the opportunity to end the game with up to double your wager. Retro Arcade collects data on the scores of all players. From this data an average score is made. As you approach this score your multiplier will increase and when you exceed the average your multiplier will begin to exceed one.</div>
<a href="/homepage"><button id="playbrick">Play Now</button></a>
</div>


<div id="tetrisfluff"></div>

<div id="flappybirdfluff"></div>

<script type="text/javascript" src="/homepage.js"></script>


</html>
