<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Retro Arcade</title>
    <link rel="stylesheet" href="/css/PopupForm.css">
    <link rel="stylesheet" href="/css/Navbar.css">
    <link rel="stylesheet" href="/css/gamecollection.css">
    <link rel="stylesheet" href="/css/homepage.css">
    <link rel="stylesheet" href="/css/keyframes.css">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">

</head>

<div id="formContainer"></div> <!-- This can be put anywhere -->

<body>

    <div class="MainContainer">
        <div class="Navbar" id="NavigationBar">
            <a href="/homepage" class="SiteNameHeader">Retro Arcade</a>

            <div class="Navbar-Links">
             <!--
                <a href="/">Our Team</a>
                <a href="/">Contact Us</a>
        -->
            </div>
            <% if (id) { %>                
                <div class="sub-container-navbar">
                    <div id="username">Welcome <%= name %></div>
                    <div id="tokenbalance"><%= tokenBalance.toFixed(2) %> Tokens</div>
                    <div>
                        <form action="/logout?_method=DELETE" method="POST">
                            <button  class="commonButton" id="logoutButton" type="submit">Log Out</button>
                        </form>
                    </div>
                </div>
            <% } else { %>
                <div class="sub-container-navbar">
                    <div id="tokenbalance"></div>
                    <button class="commonButton" id="loginButton">LOGIN/SIGN UP</button>
                </div>
                <% } %>
        </div>

        <div class="spacer"></div>

        <div id="gamecollection">   
            <a href="/pacmangame"><button class="gameTile" id="pacman"></button></a>
            <a href="/Tetris"><button class="gameTile" id="tetris"></button></a>
            <a href="/BrickBreaker"><button class="gameTile" id="brickbreaker"></button></a>
            <a href="/"><button class="gameTile" id="flappybird"></button></a>    
        </div>
        
        <div class="spacer"></div>

        <div class="banners-container">
            <div id="pacmanbanner" class="banner">
                <a href="/pacmangame"><button class="commonBannerButton">Play Now</button></a>
            </div>
            
            <div id="tetrisbanner" class="banner">
                <a href="/Tetris"><button class="commonBannerButton">Play Now</button></a>
                <img id="tetrislogo" src="/images/tetrislogo.png">
            </div>
           
            <div id="breakoutbanner" class="banner">
                <a href="/outsideBrickBreaker"><button class="commonBannerButton">Play Now</button></a>
                <img id="breakoutlogo" src="/images/breakoutlogo.png">
            </div>
        </div>

    </div>
    
    
    

<script type="text/javascript" src="/js/homepage.js"></script>
<script type="text/javascript" src="/js/PopupForm.js"></script>
</body>
</html>
