<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

</html>

</head>
  

<link rel="stylesheet" href="/css/login.css">   
<link rel="stylesheet" href="/css/homepage.css">

<div id="header">
    <body>
        <!-- Button to trigger pop-up -->
        <button id="loginButton">Open Login</button>
    
        <!-- Pop-up background -->
        <div id="popup" class="popup-background hidden">
            <!-- Login form inside the pop-up -->
            <div class="popup-form">
                <h1>Login</h1>
                <form action="/login" method="POST">
                    <% if (messages.error && messages.error.length > 0) { %>
                        <div class="error-message">
                            <% messages.error.forEach(function(msg) { %>
                                <p><%= msg %></p>
                            <% }); %>
                        </div>
                    <% } %>
    
                    <div>
                        <label for="email">Email</label>
                        <input type="email" id="email" name="email" required>
                    </div>
                    <div>
                        <label for="password">Password</label>
                        <input type="password" id="password" name="password" required>
                    </div>
                    <button type="submit">Login</button>
                </form>
                <a href="/register">Register</a>
                <!-- Button to close the pop-up -->
                <button id="closePopup">Close</button>
            </div>
        </div>
    
    </body>



    <div id="tokenbalance">
       0 Tokens
    </div>

    <div id="name">
        <a href="/homepage">
        <button id="homepage">Retro Arcade</button></a>
    </div>
</div>
</div>
<div id="background">
<div id="gamecollection">
   
    <button class="scroll" id="space"></button>
    <a href="/pacman"><button class="scroll" id="pacmangame"></button></a>
    <a href="tetris.html"><button class="scroll" id="tetrisgame">Tetris</button></a>
    <button class="scroll" id="brickbreakergame">Brick Breaker</button>
    <button class="scroll" id="flappybirdgame">Flappy Bird</button>
</div>
</div> 
<div id="pacmanfluff">
<img src="\images\pacmanphoto6.png" id="pacmanphoto6">
<div id="pacmantitle"><h2>Retro Arcades: Pacman</h2></div>
<div id="pacmanparagraph">Retro Arcade presents the classic arcade game PacMan. A yellow, circular character who navigates a maze, eating dots while avoiding colorful ghosts. We add an interesting twist... competition from pacman players all around the world. As you play your tokens will increase giving you the opportunity to end the game with up to double your wager. Retro Arcade collects data on the scores of all players. From this data an average score is made. As you approach this score your multiplier will increase and when you exceed the average your multiplier will begin to exceed one. This provides a unique skill-based multiplayer experience. Hone your pacman skills and you may begin to win consistently.</div>
<a href="pacmangame.html"><button id="playpacman">Play Now</button></a>
</div>
<div id="tetrisfluff">

</div>
<div id="brickbreakerfluff">

</div>
<div id="flappybirdfluff">

</div>
<script type="text/javascript" src="/homepage.js"></script>
<script src="/js/login.js"></script>


</html>
