<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Retro Arcade</title>
    <link rel="icon" href="/images/placeholderTitleIcon.png" type="image/png">
    
</head>

</html>

</head>
  

<link rel="stylesheet" href="/css/login.css">   
<link rel="stylesheet" href="/css/homepage.css">
<main>
<div id="header">
    <div id="homecont">
    <button id="loginButton">Login / Sign Up</button>
    </div>
    <!-- Pop-up background -->
    <div id="popup" class="popup-background hidden">
        <div class="popup-form">
           
        <h1 class="loginHeader">Login</h1>
        <button id="closePopup" class="close-button">X</button> 
        <form action="/login" method="POST">
        
            <% if (messages.error && messages.error.length > 0) { %>
                    <div class="error-message">
                        <% messages.error.forEach(function(msg) { %>
                            <p><%= msg %></p>
                        <% }); %>
                    </div>
                <% } %>

            <div class="form-container">

                    <div>
                        <label for="email" class="emailLabel">Email Or Username</label>
                        <input type="email" id="email" name="email" required>
                    </div>

                    <div>
                        <label for="password" class="passwordLabel">Password</label>
                        <input type="password" id="password" name="password" required>
                    </div>

                    <button type="submit" class="loginButton">LOGIN</button>
                </form>
            
                <div class="sub-container">
                <p class="subText">Don't Have an Account?</p>
                <a href="/register" id="registerLink" class="registerLink">Register</a>
            </div>
        </div>
    </div>

   

</div>

<div id="balancecont">
    <div id="tokenbalance">
        
    </div>
</div>
<div id="homepagecont">
    <div id="mainName">
        <a href="/homepage">
        <button id="homepage">Retro Arcade</button></a>
    </div>
</div>
</div>


<div id="background">
    <div id="gamecollection">   
        <a href="/outsidePacman"><button class="scroll" id="pacmangame"></button></a>
        <a href="/outsideTetris"><button class="scroll" id="tetrisgame"></button></a>
        <a href="/outsideBrickBreaker"><button class="scroll" id="brickbreakergame"></button></a>
        <button class="scroll" id="flappybirdgame"></button>
    </div>
</div> 

<div id="pacmanbanner" class="banners">
    <a href="/outsidePacman"><button class="playbuttonhome" id="playpacman">Play Now</button></a>
</div>
<div id="tetrisbanner" class="banners">
    <a href="/outsideTetris"><button class="playbuttonhome" id="playtetris">Play Now</button></a>
    <img id="tetrislogo" src="/images/tetrislogo.png">
</div>
<div id="breakoutbanner" class="banners">
    <a href="/outsideBrickBreaker"><button class="playbuttonhome" id="playbreakout">Play Now</button></a>
    <img id="breakoutlogo" src="/images/breakoutlogo.png">
</div>
<div id="footercont">
    <div id="line"></div>
    <div id="retrofooter">Retro Arcade</div>
    <img id="instagramicon" src="/images/instagramicon.png">
    <img id="facebookicon" src="/images/facebookicon.png">
    <img id="twittericon" src="/images/twittericon.png">
    <img id="linkdinicon" src="/images/linkdinicon.png">
    <div id="att">@retroarcade</div>
    
        <div id="links">
            <div id="home">HOME</div>
            <div id="ourteam">OUR TEAM</div>
            <div id="contactus">CONTACT US</div>
            <div id="contributers">CONTRIBUTERS</div>
        </div>
</div>

<script type="text/javascript" src="/homepage.js"></script>
<script src="/js/login.js"></script>
</main>

</html>
