<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Retro Arcade</title>
    <link rel="stylesheet" href="/css/PopupForm.css">
    <link rel="stylesheet" href="/css/Navbar.css">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">

</head>

<div id="formContainer"></div> <!-- This can be put anywhere -->

<div class="Navbar">
    <a href="/homepage" class="SiteNameHeader">Retro Arcade</a>

    <div class="Navbar-Links">
     <!--
        <a href="/">Our Team</a>
        <a href="/">Contact Us</a>
-->
        
        <!-- Is here if we wanna add more links-->
    </div>

    <% if (id) { %>
        
        <div class="sub-container-navbar">
            <div id="tokenbalance"><%= tokenBalance.toFixed(2) %> Tokens</div>
            <div>
                <form action="/logout?_method=DELETE" method="POST">
                    <button  class="commonButton" id="logoutButton" type="submit">Log Out</button>
                </form>
            </div>
        </div>

    <% } else { %>
        <div class="sub-container-navbar">
            <div id="tokenbalance"></div>
            <button class="commonButton" id="loginButton">LOGIN/SIGN UP</button>
        </div>
        <% } %>
</div>
 
<script type="text/javascript" src="/js/PopupForm.js"></script>
</html>