<!DOCTYPE html>
<html>
<head>
 <title>Basic Breakout HTML Game with Score and Start Screen</title>
 <meta charset="UTF-8">

<link rel="stylesheet" href="/css/brickBreaker.css">

</head>
<body>


<div id="header">
   <button id="addtoken" onclick="tokenadjust()">Add Tokens</button>
   <div id="tokenbalance">
       10.00 Tokens
   </div>
   <div id="name">
       <a href="/homepage">
       <button id="homepage" onclick="storetokens()">Retro Arcade</button></a>
   </div>
      
   </div>
</div>
</body>


<!-- The container that wraps the canvas -->
<div class="game-container">
 <canvas width="400" height="585" id="game"></canvas>
 </div>


<div id="stats">
   <div id="wagersize">Wager Size: 2 Tokens</div>
   <div id="tokenvalue">Current Token Value: 0</div>
   <button id="playbutton">Play</button>
   <div id="tokenMessage"></div>
</div>


<div id="instructions">
 <h2 id="title">Retro Arcade's: Breakout</h1>
 <div id="instline"></div>
 <p id="descritpion">Breakout is a classic arcade-style game where your goal is to break all the bricks on the screen using a ball, which you bounce off a movable paddle. Use the arrow keys to control the paddle and be fast because you only get one life. As usual Retro Arcades offers an interesting twist... competition from Breakout players all around the world. As you play your tokens will increase giving you the opportunity to end the game with up to double your wager. Retro Arcade collects data on the scores of all players. From this data an average score is made. As you approach this score your multiplier will increase and when you exceed the average your multiplier will begin to exceed one.</p>
</div>

    <script src="/js/brickBreaker.js"></script>
</html>



