<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Retro Arcade</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/pacman.css">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">

</head>

<div id="formContainer"></div> <!-- This can be put anywhere -->

<div class="Navbar">
    <a href="/homepage" class="SiteNameHeader">Retro Arcade</a>

    <div class="Navbar-Links">
     <!--
        <a href="/">Our Team</a>
        <a href="/">Contact Us</a>
-->
        
        <!-- Is here if we wanna add more links-->
    </div>

    <% if (id) { %>
        
        <div class="sub-container-navbar">
            <!--<div id="username"><%= name %></div>-->
            <div id="tokenbalance"><%= tokenBalance.toFixed(2) %> Tokens</div>
            <div>
                <form action="/logout?_method=DELETE" method="POST">
                    <button  class="commonButton" id="logoutButton" type="submit">Log Out</button>
                </form>
            </div>
        </div>

    <% } else { %>
        <div class="sub-container-navbar">
            <div id="tokenbalance"></div>
            <button class="commonButton" id="loginButton">Add Tokens</button>
        </div>
        <% } %>
</div>

<div id="gameplay">
    <div id="pacman"></div>
    <div id="line"></div>
    <div id="wagersize">
        <p>Wager Size: 5 Tokens</p>
    </div>
    <div id="currentvalue">
        0
    </div>
    <div>
        <button id="startbutton">Play</button>
    </div>    
</div>

<div id="instructions">
    <h2 id="title">Retro Arcade: Pacman</h1>
    <div id="instline"></div>
    <p id="descritpion">Retro Arcade presents the classic arcade game PacMan. A yellow, circular character who navigates a maze, eating dots while avoiding colorful ghosts. We add an interesting twist... competition from pacman players all around the world. As you play your tokens will increase giving you the opportunity to end the game with up to double your wager. Retro Arcade collects data on the scores of all players. From this data an average score is made. As you approach this score your multiplier will increase and when you exceed the average your multiplier will begin to exceed one. This provides a unique skill-based multiplayer experience. Hone your pacman skills and you may begin to win consistently.        </p>
    
</div>

<h2 id="suggestiontitle">You May Also Like</h2>
<div id="suggestionline"></div>
   
<div id="gamecollection">   
    <a href="/Tetris"><button class="gameTile" id="tetris"></button></a>
    <a href="/BrickBreaker"><button class="gameTile" id="brickbreaker"></button></a>
    <a href="/"><button class="gameTile" id="flappybird"></button></a>    
</div>


<div id="FooterLine"></div>
    <div class="Footer">
        <div class="section" id="Iconsection">
            <div id="foottitle">Retro Arcade</div>
            <ul class="social-icons">
                <a href="https://www.instagram.com" class="fab fa-instagram"></a>
                <a href="https://www.linkedin.com"class="fab fa-linkedin"></a>
                <a href="https://www.twitter.com" class="fab fa-twitter"></a>
            </ul>
            <p id="Att">@retroarcade</p>
        </div>
        
        <div class="section" id="linkSection1">
            <a href="/homepage">HOME</a>
        </div>
        <div class="section" id="linkSection2">
            <a href="/">OUR TEAM</a>
        </div>
        <div class="section" id="linkSection3">
            <a href="/">CONTACT SUPPORT</a>
        </div>
    </div>
    
<script type="text/javascript" src="/js/PopupForm.js"></script>
<script type="text/javascript" src="/js/homepage.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script type="text/javascript" src="/js/pacman.js"></script>
<script>
    const userId = "<%= id %>"; // User ID available in client-side JS
</script>
</html>