
<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Permanent+Marker">
    <link rel="stylesheet" href="/css/pacman.css">
</head>
<body>
    <div id="header">
        <button id="addtoken" onclick="tokenadjust()">Add Tokens</button>
        <!-- redirect to add -->
        <div id="tokenbalance">
            <%= tokenBalance.toFixed(2) %> Tokens
        </div>
        <div id="name">
            <a href="/homepage">
            <button id="homepage">Retro Arcade</button></a>
        </div>
    </div>
    

    <div id="gameplay">
        <div id="pacman"></div>
        <div id="line"></div>
        <div id="wagersize">
            <p>Wager Size: 5 Tokens</p>
        </div>
        <div id="currentvalue">
            0
        </div>
        <div>
            <button id="startbutton">Ply</button>
        </div>    
    </div>

    <div id="instructions">
        <h2 id="title">Retro Arcade: Pacman</h1>
        <div id="instline"></div>
        <p id="descritpion">Reto Arcade presents the classic arcade game PacMan. A yellow, circular character who navigates a maze, eating dots while avoiding colorful ghosts. We add an interesting twist... competition from pacman players all around the world. As you play your tokens will increase giving you the opportunity to end the game with up to double your wager.</p>
        <p id="descritpion2"></p>
    </div>
       

	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="/js/pacman.js"></script>
    <script>
        const userId = "<%= id %>"; // User ID available in client-side JS
    </script>
    
