.Footer {
    background-color: rgb(24, 35, 66);
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 150px;
    padding-left: 0px;
    padding-right: 30px; /* Optional padding if you don't want them to stick directly to the edge */
}


.section {
    width: 200px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
  }
  


.social-icons {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    color: white;
    font-size: 24px;
}

 .social-icons a {
    color: white;
    font-size: 24px;
    margin: 0 10px;
    text-decoration: none;
}

#Att {
    position: relative;
    top: 40px;
    right: 120px;
}

#foottitle {
    position: relative;
    left: 130px;
    bottom: 40px;
    white-space: nowrap;
    font-size: 120%;
}

#linkSection1 a, #linkSection2 a, #linkSection3 a {
    color: white;
    transition: background-color 0.3s; 
    text-decoration: none;
}

#FooterLine {
    height: 2px;
    background-color: grey;
 }

 #linkSection1 a, #linkSection2 a, #linkSection3 a::hover {
    background-color: rgba(255, 255, 255, 0.3); 
}


/*    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    background-color: rgb(24, 35, 66); 
    color: white;
    padding-left: 40px; 
    padding-right: 40px; 
    padding-top: 0px; 
    padding-bottom: 20px; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
}

.sub-container-footer-left {
    display: flex; 
    flex-direction: column; 
    align-items: center;
    justify-content: center; 
}

.sub-container-footer-right {
    display: flex; 
    justify-content: flex-end; 
    align-items: center; 
}

.sub-container-footer-right a {
    color: white;
    padding: 20px;  
    text-decoration: none; 
    transition: background-color 0.3s; 
}

.sub-container-footer-right a:hover {
    background-color: rgba(255, 255, 255, 0.3); 
}

.social-icons {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    color: white;
    font-size: 24px;
}

 .social-icons a {
    color: white;
    font-size: 24px;
    margin: 0 10px;
    text-decoration: none;
}

.Footer-Links a {
    color: white;
}


#FooterLine {
    height: 2px;
    background-color: grey;
 }
 */