
body {
margin: 0px;
width: 100%;
height: 100%;
font-family: sans-serif;
background-color: black;
overflow-x:hidden;

}

main{
    width: 100%;
    height: 120vw;
    background-color: rgb(24, 35, 66);
    margin-left: auto;
    margin-right: auto;
}
#header {
background-color:rgb(24, 35, 66); /*color change*/
width: 100%;
height: 60px;
margin: 0px;
padding: 0px;
position:fixed;
top: 0px;
right: 0px;
box-shadow: 0px 4px 10px rgba(0, 0, 0, 3);
z-index: 1000;

}
#addtoken {
    background-color: rgb(44, 83, 224); /* Original blue color */
    color: aliceblue;
    height: 50px;
    width: 110px;
    margin: 5px;
    position: relative;
    border-radius: 10px;
    float: right;
    top: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth transition for background color */
}

#addtoken:hover {
    background-color: rgb(24, 63, 204); /* Darker blue on hover */
}

#loginButton {
    background-color: rgb(44, 83, 224); /* Original blue color */
    color: aliceblue;
    height: 45px;
    width: 120px;
    margin: 5px;
    position: relative;
    border-radius: 10px;
    float: right;
    top: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth transition for background color */
}

#loginButton:hover {
    background-color: rgb(24, 63, 204); /* Darker blue on hover */
}






#tokenbalance {
    color: aliceblue;
    position: relative;
    top: 11px;
    float: right;
    font-size: 85%;
    padding: 10px;
}

#homepage {
    background-color:rgba(1, 28, 78, 0.09); /*color change*/
    color: aliceblue;
    width: 100%;
    height: 65px;
    position: relative;
    right: 0px;
    font-size: 130%;
    box-shadow: none;
    cursor: pointer;
    border: none;
    
}

#mainName {
    color: green;
    float: left;
    position: relative;
    left: 20px;
    bottom: 13px;
    padding: 10px;
}

#gamecollection {
    width: 100%;
    height: 27vw;
    margin-bottom: 20px;
    margin-top: 60px;
    overflow-x: scroll;
    overflow-y: hidden; 
    background-color: none;
    align-items: center;
    position: relative;
    top: 1vw;
}

#pacmangame {
    background-color: black;
    width: 22.5vw;
    height: 25vw;
    border-radius: 4vw;
    margin-right: 1vw;
    margin-left: 3vw;
    background-image: url('/images/pacmanphoto5.png');
    background-size: contain;
    background-position: center; 
    background-repeat: no-repeat; 
    position: relative;
    top: 2vw;
}

#brickbreakergame {
    background-color: black;
    width: 22.5vw;
    height: 25vw;
    border-radius: 4vw;
    margin-right: 1vw;
    background-image: url('/images/brick1.png');
    background-size: contain; /* Ensures the image fits inside the button */
    background-position: center; /* Centers the image horizontally and vertically */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    position: relative;
    top: 2vw;
}


#tetrisgame {
    position: relative;
    width: 22.5vw;
    height: 25vw;
    margin-right: 1vw;
    border-radius: 4vw;
    position: relative;
    background-image: url('/images/Tetrisphoto8.png');
    background-size:contain;
    background-position: center;
    position: relative;
    top: 2vw;
}

#flappybirdgame {
    width: 22.5vw;
    height: 25vw;
    border-radius: 4vw;
    position: relative;
    background-image: url('/images/Flappy1.png');
    background-size:contain;
    background-position: center;
    position: relative;
    position: relative;
    top: 2vw;
}


.scroll {
transition: transform 0.3s ease;
}


.scroll:hover {
    transform: translateY(-1vw);
    cursor:pointer;
}

#pacmanbanner {
    background-image: url('/images/pacmanbanner4.png');
    background-size: 100%;
    background-position: top 20px;
    background-position-x: top 20px;
}

.banners {
    width: 95vw;
    height: 23vw;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2vw;
    position: relative;
    top: 1vw;
    background-color: black;
    margin-bottom: 2vw;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 1);
}

.playbuttonhome {
    background-color: rgb(44, 83, 224);
    width: 16vw;
    height: 5vw;
    color: aliceblue;
    border-radius: 2vw;
    position: relative;
    left: 5.5vw;
    top: 14vw;
    font-size: 2vw;
}


#playtetris{
    position: relative;
    top: 11vw;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 5);
}


#tetrislogo {
    height: 7vw;
    width: 23vw;
    position: relative;
    right: 14vw;
    top: 3vw;
}

#tetrisbanner {
    background-image: url('/images/tetrisbanner2.png');
    background-size: 120%;
    background-position: center;
}

#breakoutbanner {
    background-image: url('/images/Breakoutbanner.png');
    background-size: 110%;
}

#breakoutlogo {
    height: 7vw;
    width: 26vw;
    position: relative;
    right: 15vw;
    top: 5vw;
}
#playbreakout {
    position: relative;
    top: 11vw;
}

@media (min-width: 1200px) {
    #pacmangame, #tetrisgame, #brickbreakergame, #flappybirdgame {
        width: 270px;
        height: 300px;
        position: relative;
        top: 24px;
        border-radius: 48px;
    }
    #gamecollection {
        width: 1200px;
        margin-left: auto;
        margin-right: auto;
        height: 324px;
        position: relative;
        top: 12px;
    }
    #pacmangame {
        margin-left: 35px;
    }

    .banners {
        width: 1150px;
        height: 276px;
        border-radius: 24px;
        position: relative;
        top: 12px;
        margin-bottom: 24px;
    }
    .playbuttonhome {
        width: 192px;
        height: 60px;
        border-radius: 24px;
        position: relative;
        left: 66px;
        top: 168px;
        font-size: 24px;
    }
    main{
        width: 1200px;
        height: 1340px;
    }
    #homecont, #balancecont, #homepagecont {
        width: 1200px;
        height: 60px;
        margin-left: auto;
        margin-right: auto;
    }
    #balancecont {
        position: relative;
        bottom: 60px;
        right: 130px;
    }
    #homepagecont {
        position: relative;
        bottom: 120px;
    }
    #tetrislogo {
    height: 84px;
    width: 276px;
    position: relative;
    right: 168px;
    top: 36px;
    }
    #playtetris{
        position: relative;
        top: 132px;

}
    #breakoutlogo {
        height: 84px;
        width: 312px;
        position: relative;
        right: 180px;
        top: 60px;
    }
    #playbreakout {
        position: relative;
        top: 132px;
    }
    
}
    
/*footer starts here*/

#footercont {
    width: 1200px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 15px;
    background-color: rgb(24, 35, 66);
}

#line {
    height: 2px;
    width: 95%;
    background-color: grey;
    margin-left: auto;
    margin-right: auto;
}
#retrofooter {
    color: aliceblue;
    font-size: 130%;
    position: relative;
    left: 40px;
    top: 20px;
}

#instagramicon {
    height: 60px;
    width: 60px;
    position: relative;
    left: 10px;
    top: 20px;
}

#facebookicon {
    height: 25px;
    width: auto;
    position: relative;
    left: 10px;
    top: 3px;
}

#twittericon {
    height: 30px;
    width: auto;
    position: relative;
    left: 25px;
    top: 6px;
}

#linkdinicon{
    height: 30px;
    width: auto;
    position: relative;
    top: 5px;
    left: 35px;
}

#att {
    color: aliceblue;
    size: 130%;
    position: relative;
    left: 45px;
    top: 15px;
}

#links {
    width: 70vw;
    height: 130px;
    position: relative;
    bottom: 100px;
    left: 200px;
    color: aliceblue;
    display: flex;
    justify-content: space-around; /* Spreads the items equally */
    align-items: center;
}











