
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto; /* Let the entire page scroll if content overflows */
}

.MainContainer {
    position: relative; /* Keeps container in document flow */
    width: 100%;
    height: auto; /* Let the height expand based on content */
    display: flex;
    flex-direction: column;
    background-color: rgb(24, 35, 66);
    align-items: center;
    flex-wrap: nowrap;
    box-sizing: border-box;
}


.spacer {
    height: 62px;
}

/* General container for all banners */
.banners-container {
    border: 2px solid red;
    box-sizing: border-box; /* Include padding and border in the width */

    width: 100%;
    height: auto; /* Remove fixed height to allow for full content display */
    background-color: black;
    margin-bottom: 2vw; /* Add space at the bottom */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 1); /* Keep your shadow */

}
/* Each banner should stack vertically */
.banner {
    background-size: 100%; /* Make the image fit the width */
    width: 100%;
    height: 23vw; /* Define height of the banners */
    background-color: black; /* Set background color */
    margin-bottom: 2vw; /* Space between banners */
    display: block; /* Ensure banners stack vertically */
}

/* Specific banners */
#pacmanbanner {
    background-image: url('/images/pacmanbanner4.png');
}

#tetrisbanner {
    background-image: url('/images/tetrisbanner2.png');
    background-size: 120%; /* Adjust image scaling */
    background-position: center;
}

#breakoutbanner {
    background-image: url('/images/Breakoutbanner.png');
    background-size: 110%; /* Adjust image scaling */
}

/* Logos inside banners */
#tetrislogo, #breakoutlogo {
    height: 7vw;
    width: auto; /* Make width auto to maintain aspect ratio */
    position: relative;
    top: 3vw; /* Adjust top position */
}

/* Additional styles for individual logos */
#tetrislogo {
    right: 14vw;
}

#breakoutlogo {
    right: 15vw;
    top: 5vw; /* Adjust top margin for this specific logo */
}



.commonBannerButton {
    background-color: rgb(44, 83, 224);
    font-size: 13px;
    font-weight: bold;
    color: aliceblue;
    height: 50px;
    width: 150px;
    border: 2px solid rgb(0, 0, 0); 
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;  
    position: relative;
    left: 5.5vw;
    top: 14vw;
}
.commonBannerButton:hover {
    background-color: rgb(24, 63, 204);
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(44, 83, 224, 0.8); /* Glow effect */
    border: 2px solid rgb(255, 255, 255); 
}
.commonBannerButton:hover::after {
    box-shadow: 0 0 20px rgba(44, 83, 224, 0.8); /* Glow effect on hover */
}




/* Hide everything on small screens 
@media only screen and (max-width: 600px) {
    * {
        display: none;
    }
}
*/