
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto; 
}

body::-webkit-scrollbar {
    display: none; 
}

.MainContainer {
    position: relative; 
    width: 100%;
    height: auto; 
    display: flex;
    flex-direction: column;
    background-color: rgb(24, 35, 66);
    align-items: center;
    flex-wrap: nowrap;
    box-sizing: border-box;
}

.spacer {
    height: 62px;
}

.banners-container {
    box-sizing: border-box; 

    width: 100%;
    height: auto; 
    background-color: black;
    margin-bottom: 2vw;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 1); 

}

.banner {
    background-size: 100%; 
    width: 100%;
    height: 23vw; 
    background-color: black; 
    margin-bottom: 2vw; 
    display: block; 
}

#pacmanbanner {
    background-image: url('/images/pacmanbanner4.png');
}

#tetrisbanner {
    background-image: url('/images/tetrisbanner2.png');
    background-size: 120%; 
    background-position: center;
}

#breakoutbanner {
    background-image: url('/images/Breakoutbanner.png');
    background-size: 110%;
}

#tetrislogo, #breakoutlogo {
    height: 7vw;
    width: auto; 
    position: relative;
    top: 3vw; 
}

#tetrislogo {
    right: 14vw;
}

#breakoutlogo {
    right: 15vw;
    top: 5vw; 
}



.commonBannerButton {
    background-color: rgb(44, 83, 224);
    font-size: 13px;
    font-weight: bold;
    color: aliceblue;
    border: 2px solid rgb(0, 0, 0); 
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;  

}
.commonBannerButton:hover {
    background-color: rgb(24, 63, 204);
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(44, 83, 224, 0.8); 
    border: 2px solid rgb(255, 255, 255); 
}
.commonBannerButton:hover::after {
    box-shadow: 0 0 20px rgba(44, 83, 224, 0.8);
}




/* Hide everything on small screens 
@media only screen and (max-width: 600px) {
    * {
        display: none;
    }
}
*/



/* banner stuff def needs reorginization*/
/* Yes I agree very true - Dimitri*/

#pacmanbanner {
    background-image: url('/images/pacmanbanner4.png');
    background-size: 100%;
    background-position: top 20px;
    background-position-x: top 20px;
 }
 
 
 .banners {
    width: 95vw;
    height: 23vw;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2vw;
    position: relative;
    top: 1vw;
    background-color: black;
    margin-bottom: 2vw;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 1);
    
 }
 
 .playbuttonhome {
    background-color: rgb(44, 83, 224);
    width: 16vw;
    height: 5vw;
    color: aliceblue;
    border-radius: 2vw;
    position: relative;
    left: 5.5vw;
    top: 14vw;
    font-size: 2vw;
    background-color: rgb(44, 83, 224);
    font-weight: bold;
    color: aliceblue;
    border: 2px solid rgb(0, 0, 0); 
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;  

 }
 
 .playbuttonhome:hover {
    background-color: rgb(24, 63, 204);
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(44, 83, 224, 0.8); 
    border: 2px solid rgb(255, 255, 255); 
}
 
 
 
 #playtetris{
    position: relative;
    top: 11vw;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 5);
 }
 
 
 
 
 #tetrislogo {
    height: 7vw;
    width: 23vw;
    position: relative;
    right: 14vw;
    top: 3vw;
 }
 
 
 #tetrisbanner {
    background-image: url('/images/tetrisbanner2.png');
    background-size: 120%;
    background-position: center;
 }
 
 
 #breakoutbanner {
    background-image: url('/images/Breakoutbanner.png');
    background-size: 110%;
 }
 
 
 #breakoutlogo {
    height: 7vw;
    width: 26vw;
    position: relative;
    right: 15vw;
    top: 5vw;
 }
 #playbreakout {
    position: relative;
    top: 11vw;
 }
 